.divan2 {
    position: absolute;
    top: 0;
    left: 85px;
    font-size: var(--font-size-11xl);
    font-weight: 500;
  }
  .div30,
  .div31 {
    top: 6px;
    font-weight: 300;
    display: inline-block;
    cursor: pointer;
  }
  .div30 {
    position: absolute;
    left: 817px;
    width: 81px;
  }
  .div31 {
    left: 1013px;
    width: 111px;
  }
  .div31,
  .div32,
  .header {
    position: absolute;
  }
  .div32 {
    top: 6px;
    left: 1206px;
    font-weight: 300;
    display: inline-block;
    width: 146px;
    cursor: pointer;
  }
  .header {
    top: 47px;
    left: 0;
    width: 1477px;
    height: 38px;
    font-size: var(--font-size-6xl);
    font-family: var(--font-outfit);
  }
  .divan3 {
    position: relative;
    font-weight: 500;
  }
  .div33,
  .divan4,
  .footer {
    position: absolute;
    left: 0;
  }
  .footer {
    top: 1796px;
    background-color: #d9d9d9;
    width: 1440px;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 240px;
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
    font-family: var(--font-outfit);
  }
  .div33,
  .divan4 {
    top: 0;
    font-weight: 600;
    display: inline-block;
    width: 736px;
  }
  .div33 {
    top: 178px;
    left: 5px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.02em;
    font-weight: 300;
    width: 644px;
  }
  .image-icon,
  .welcome-text {
    position: absolute;
    top: 329px;
    left: 108px;
    width: 709px;
    height: 290px;
  }
  .image-icon {
    top: 283px;
    left: 835px;
    border-radius: var(--br-13xl);
    width: 490px;
    height: 503px;
    object-fit: cover;
  }
  .button {
    position: absolute;
    top: 632px;
    left: 113px;
    border-radius: var(--br-3xs);
    background-color: #ffe920;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 336px;
    height: 61.9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--font-size-3xl);
  }
  .image-icon1 {
    position: absolute;
    top: 1095px;
    left: 120px;
    border-radius: var(--br-13xl);
    width: 490px;
    height: 503px;
    object-fit: cover;
  }
  .div35,
  .divan5 {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  .divan5 {
    top: 0;
    font-weight: 600;
    width: 595px;
  }
  .div35 {
    top: 97px;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.02em;
    width: 623px;
  }
  .button1,
  .text-about-restaurant {
    position: absolute;
    top: 1197px;
    left: 693px;
    width: 632px;
    height: 238px;
  }
  .button1 {
    top: 1435px;
    border-radius: var(--br-3xs);
    background-color: #baff26;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 336px;
    height: 61.9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--font-size-3xl);
  }
  .slide-169-9 {
    position: relative;
    background: linear-gradient(180deg, #ededed, #fff);
    width: 100%;
    height: 1884px;
    overflow-y: auto;
    text-align: left;
    font-size: var(--font-size-41xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  